/************************************************
	Desktop Grid
************************************************/

.row {
	width: 100%;
	margin: 0 auto;
}
.row .row {
	min-width: 0;
}
.flex-row {
	display: flex;
	align-items: stretch;
	align-content: center;
	justify-content: space-between;
	flex: 1 1 0;
}
.column, .columns {
	float: left;
	min-height: 1px;
	position: relative;
}
[class*="column"] + [class*="column"]:last-child {
	float: right;
}

.half, .third, .one-third, .fourth,
.one-fourth, .fifth, .one-fifth,
.two-thirds, .three-fourths {
	float: left;
}
.half.last, .third.last, .one-third.last, .fourth.last,
.one-fourth.last, .fifth.last, .one-fifth.last,
.two-thirds.last, .three-fourths.last {
	float: right;
}

.single					{ width: 100%; }
.half						{ width: 49.9%; }
.third,
.one-third			{ width: 33.3%; }
.fourth,
.one-fourth			{ width: 25%; }
.fifth,
.one-fifth			{ width: 20%; }
.two-thirds			{ width: 66.6%; }
.three-fourths	{ width: 75%; }

.row .one 		{ width: 6.25%; }
.row .two 		{ width: 12.5%; }
.row .three 	{ width: 18.75%; }
.row .four 		{ width: 25%; }
.row .five 		{ width: 31.25%; }
.row .six 		{ width: 37.5%; }
.row .seven 	{ width: 43.75%; }
.row .eight 	{ width: 50%; }
.row .nine 		{ width: 56.25%; }
.row .ten 		{ width: 62.5%; }
.row .eleven 	{ width: 68.75%; }
.row .twelve 	{ width: 75%; }
.row .thirteen 	{ width: 81.25%; }
.row .fourteen 	{ width: 87.5%; }
.row .fifteen 	{ width: 93.75%; }
.row .sixteen 	{ width: 100%; }

.row .centered { float: none; margin: 0 auto; }

/************************************************
	Desktop Styles
************************************************/

@media screen and (min-width: 1600px) {
	.agency-sidebar-inactive.blog .alignfull,
	.agency-sidebar-inactive.archive .alignfull,
	.agency-sidebar-inactive.agency-singular .alignfull {
		max-width: 1600px;
		transform: translateX(calc(50vw - 818px));
	}
}

@media screen and (max-width: 1600px) {
	.site {
		margin: 18px;
	}
}

/************************************************
	Tablet Styles
************************************************/

@media screen and (max-width: 1024px) {

	/* Typography Tablet */

	body {
		font-size: 0.9rem;
		line-height: 1.6;
	}
	.banner-text h1, .banner-text h2,
	.banner-text h3, .banner-text h4 {
		font-size: 3.6rem;
	}

	/* Theme Tablet */

	.site-title {
		box-sizing: border-box;
	}
	.banner-img,
	.wp-custom-header {
		background-size: cover;
	}
	#navigation-left,
	#navigation-right {
		display: none !important;
	}
	#nav-bar {
		justify-content: space-between;
	}
	#nav-mobile-controls {
		display: flex;
		align-items: center;
	}
	#side-menu {
		display: block;
		background: #ffffff;
	}
	.admin-bar #side-menu {
		margin-top: 32px;
	}
	#menu-toggle {
		display: inline-block;
		cursor: pointer;
		background: none;
		position: relative;
		margin: 0px;
		padding: 24px;
		border: none;
		box-shadow: none;
		z-index: 9;
	}
	#menu-toggle svg {
		fill: rgba(0, 0, 0, 0.6);
	}
	#menu-toggle:hover svg {
		fill: rgba(0, 0, 0, 1);
	}
	.agency-has-img #menu-toggle svg,
	.agency-header-active #menu-toggle svg {
		fill: rgba(255, 255, 255, 0.6);
	}
	.agency-has-img #menu-toggle:hover svg,
	.agency-header-active #menu-toggle:hover svg {
		fill: rgba(255, 255, 255, 1);
	}
	.sidr {
		display: block;
		color: rgba(255, 255, 255, 0.4);
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 999999;
		width: 260px;
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;
	}
	.sidr-inner {
		box-sizing: border-box;
	}
	.sidr.right {
		left: auto;
		right: -260px;
		border-left: 1px solid rgba(0, 0, 0, 0.12);
	}
	.sidr.left {
		left: -260px;
		right: auto;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
	}
	.sidr p {
		margin: 6px 0px;
		padding: 0px;
	}
	.sidr ul {
		margin: 0px;
		padding: 0px;
	}
	.sidr ul.sidr-class-menu {
		margin: 0px;
	}
	.sidr ul.sidr-class-sub-menu {
		display: none;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.12);
	}
	.sidr li.sidr-class-menu-item-has-children > a::after {
		position: relative;
		content: '\f107';
		font-family: 'FontAwesome';
		margin-left: 8px;
	}
	.sidr li {
		position: relative;
		list-style: none;
		margin: 0px;
		padding: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.sidr li a {
		display: block;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		padding: 18px;
	}
	.sidr li a,
	.sidr li a:link,
	.sidr li a:visited {
		color: rgba(0, 0, 0, 0.6);
	}
	.sidr li a:hover,
	.sidr li a:active,
	.sidr li a:focus {
		color: rgba(0, 0, 0, 1);
		background: rgba(0, 0, 0, 0.04);
	}
	.sidr li li a::before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: rgba(0, 0, 0, 0.04);
	}
	.agency-has-img .banner-text,
	.agency-header-active .banner-text {
		margin-top: 160px;
		margin-bottom: 60px;
	}
	.sidebar {
		padding-left: 36px;
	}
	.sidebar #searchform {
		display: block;
	}
	.sidebar #searchform #s,
	.sidebar input.search-field {
		width: 100%;
		max-width: 100%;
	}
	.sidebar #searchform #searchsubmit,
	.sidebar .woocommerce-product-search button {
		margin-top: 12px;
		margin-left: 0px;
	}
	.widget {
		margin-bottom: 36px;
	}
	.footer-information .content {
		text-align: center;
	}
	.footer-information .align-left {
		float: none;
		display: block;
		text-align: center;
	}
	.footer-information .align-right {
		float: none;
		display: block;
		text-align: center;
		margin-top: 12px;
	}

	/* Blocks */

	.wp-block-columns.alignfull,
	.wp-block-columns.alignwide {
		padding-left: 24px;
		padding-right: 24px;
	}

	/* Conditionals */

	.agency-sidebar-inactive.agency-singular .alignfull,
	.agency-sidebar-inactive.agency-singular .alignwide {
		width: calc(100% + 96px);
		max-width: calc(100% + 96px);
		margin-left: -48px;
		left: auto;
	}
}

/************************************************
	Phone Styles
************************************************/

@media screen and (max-width: 767px) {

	/* Typography Phone */

	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1.3rem;
	}
	h6 {
		font-size: 1rem;
	}
	body {
		font-size: 1.1rem;
		line-height: 1.6;
	}
	.banner-text h1, .banner-text h2,
	.banner-text h3, .banner-text h4 {
		font-size: 2.6rem;
	}

	/* Theme Phone */

	.site {
		margin: 0px;
		border-radius: 0px;
		box-shadow: none;
	}
	#wpadminbar {
		position: fixed;
	}
	#masthead .site-description {
		font-size: 2rem;
	}
	#custom-header {
		min-height: auto;
	}
	#custom-header::before, #custom-header::after,
	.banner::before, .banner::after,
	.footer::before, .footer::after {
		display: none;
	}
	.single-jetpack-portfolio .banner-img {
		padding-top: 160px;
	}
	.content {
		padding: 36px;
	}
	.entry-title {
		margin-top: 0px;
		margin-bottom: 36px;
	}
	.blog-holder,
	.archive-holder {
		margin: 12px 0px;
	}
	.blog-holder .entry-content,
	.archive-holder .entry-content {
		font-size: 1.1rem;
	}
	.blog-holder .post-meta,
	.archive-holder .post-meta {
		margin: 12px 0px;
	}
	.post-meta p, .post-meta a {
		font-size: 0.8rem;
	}
	.post-author .author-avatar {
		display: none;
	}
	.sidebar {
		padding: 24px 0px;
	}
	.widget {
		margin-bottom: 24px;
	}
	.sidebar .widget:last-child,
	.footer-widgets .widget:last-child {
		margin-bottom: 12px;
	}
	.footer-widgets {
		display: block;
		width: 100%;
		margin: 0px;
		padding: 24px 0px;
	}
	.footer-widgets .footer-widget {
		padding: 0px;
	}
	.footer-widgets .widget {
		width: 100% !important;
		margin-bottom: 36px;
	}

	/* Conditionals */

	.admin-bar #side-menu {
		margin-top: 46px;
	}
	.agency-header-video-active #masthead {
		position: relative;
		left: 0;
		transform: none;
	}
	.agency-header-video-active .wp-custom-header {
		position: absolute;
		height: 100%;
		min-height: 480px;
		padding: 0px;
	}
	.agency-sidebar-inactive.agency-singular .alignfull {
		width: calc(100vw - 24px);
		margin-left: 12px;
	}
	.agency-sidebar-inactive.agency-singular .alignfull,
	.agency-sidebar-inactive.agency-singular .alignwide {
		width: calc(100% + 72px);
		max-width: calc(100% + 72px);
		margin-left: -36px;
		left: auto;
	}
	.wp-block-cover.alignfull .wp-block-cover__inner-container {
		padding: 36px;
	}

	/* Form */

	form input[type='url'],
	form input[type='tel'],
	form input[type='email'],
	form input[type='text'],
	form input[type='password'],
	form input[type='number'] {
		width: 100%;
	}

	/* Grid */

	body {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		overflow: visible !important;
	}
	.flex-row {
		display: block;
	}
	.half, .third, .one-third, .fourth,
	.one-fourth, .fifth, .one-fifth,
	.two-thirds, .three-fourths {
		float: none;
		width: 100%;
	}
	.row .row .column,
	.row .row .columns {
		padding: 0;
	}
	.column, .columns {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	.column:last-child, .columns:last-child {
		margin-right: 0;
		float: none;
	}
	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}
	[class*="column"]:before, [class*="column"]:after {
		content:'';
		display:table;
	}
	[class*="column"]:after {
		clear: both;
	}
}
